{% extends "datata_profile/_layouts/base.html" %}

{% block site_title %}
Invalid login | Score Group
{% endblock site_title %}

{% block content %}

    <div id="section_header">
        <h2><span>Invalid</span> password/user combination.</h2>
    </div>
    <div id="welcome">
        <div class="container">
            <div class='row'>
                <div class='col-xs-12'>
                    <h4 class='text-center'>Click <a href="/accounts/login/"> here</a> to try again.</h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
