{% extends "datata_profile/_layouts/base.html" %}

{% block site_title %}
Log out | Score Group
{% endblock site_title %}


{% block content %}
    <div id="section_header">
        <h2>You have successfully <span>logged out </span></h2>
    </div>
    <div id="welcome">
        <div class="container">
            <div class='row'>
                <div class='col-xs-12'>
                    <h4 class='text-center'>Click <a href="/accounts/login/">here</a> to login.</h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
