{% extends "datata_visualization/_layouts/platform_base.html" %}
{% load static %}

{% block site_title %}
    Dashboard
{% endblock site_title %}

{% block title %}
    Dashboard
{% endblock title %}

{% block  subtitle %}
{% endblock subtitle %}

{% block box_1 %}
{% endblock box_1 %}

{% block box_2 %}
{% endblock box_2 %}

{% block box_3 %}
{% endblock box_3 %}

{% block box_4 %}
{% endblock box_4 %}

{% block messages %}
{% endblock messages %}

{% block panel_1 %}
{% endblock panel_1 %}

{% block panel_2 %}
{% endblock panel_2 %}

{% block panel_3 %}
{% endblock panel_3 %}

{% block panel_4 %}
{% endblock panel_4 %}

{% block panel_5 %}
{% endblock panel_5 %}

{% block panel_6 %}
{% endblock panel_6 %}

{% block panel_7 %}
{% endblock panel_7 %}

{% block panel_8 %}
{% endblock panel_8 %}

{% block panel_9 %}
{% endblock panel_9 %}

{% block panel_10 %}
{% endblock panel_10 %}

{% block content %}
{% endblock content %}

{% block bottom %}
{% endblock bottom %}

{% block scripts %}
    <script src='https://www.google.com/jsapi'></script>
    <script src='{% static 'assets/js/platform/google-charts.js' %}'></script>
    <script src='{% static 'assets/js/platform/unicoder.js' %}'></script>
{% endblock scripts %}

{% block template_scripts %}
{% endblock template_scripts %}
